.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.fft-pink {
	background-color: #e6007e !important;
}

.fft-blue {
	background-color: #2daae1 !important;
}

.fft-green {
	background-color: #96c11f !important;
}

.fft-pink-text {
	color: #e6007e !important;
}

.fft-blue-text {
	color: #2daae1 !important;
}

.fft-green-text {
	color: #96c11f !important;
}

.underline {
	text-decoration: underline;
}

/* Nav */
nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav .brand-logo,
nav ul a {
	color: #535353;
}

nav .brand-logo {
	font-size: inherit;
	line-height: 64px;
	font-size: 2.28rem;		/* mirroring h4 */
}

.nav-wrapper .fft-pink-text {
	font-weight: 600;
}

.sidenav li>a {
	font-weight: normal;
}

#logo-container {
	display: flex;
}

@media (max-width: 500px) {
	.logo-nuffield {
		display: none;
	}
}

.logo-nuffield {
	float: right;
}

#logo-container {
	display: block;
}

.logo-datalab img {
	max-width: 250px;
	max-height: 64px;
}

.logo-nuffield img {
	max-width: 186px;
	max-height: 64px;
}

#ebaccFlagImg,
#p8dblFlagImg {
	width: 60px;
	height: 60px;
}

/* Toasts */
#toast-container {
	bottom: 0%;
	top: auto;		/* unset does not work in IE */
	right: auto;		/* unset does not work in IE */
	left: auto;		/* unset does not work in IE */
	min-width: 100%;
	z-index: 2;
}

.toast .close {
	cursor: pointer;
}

.toast.new-data,
.toast.early-results {
	margin-top: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #e6007e !important;
	color: #ffffff;
}

.toast.new-data a,
.toast.early-results a {
	color: #ffffff;
}

.toast.early-results {
	background-color: #2daae1 !important;
}

.toast.early-results a {
	text-decoration: underline;
	font-style: italic;
}

/* Cookie consent */
.cc-window {
	font-size: 1.1rem !important;
}

@media (min-width: 736px) {		/* seems to be where l>m Materialize breakpoint is */
	.cc-window {
		height: 48px;
	}
}

.cc-window .cc-message {
	padding: 10px 25px;
	margin: auto !important;
}

.btn-flat {
	text-transform: none;
}

#contextBox {
	background-color: #ea51a5
}

.collapsible-header {
	background-color: #f3f3f3 !important;
}

h6 {
	font-style: italic
}

a {
	color: #e6007e
}

#contextBox a {
	color: #f3f3f3;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

/* Level pages */
#subject-cards .card {
	height: 150px;
}

@media (min-width: 993px) {		/* seems to be where l>m Materialize breakpoint is */
	#subject-cards .card {
		height: 250px;
	}
}

/*/* Subject pages */
/* General */
#back-button {
	padding: 0px;
}

#header-section h1 {
	font-size: 4.2rem;
}

@media (max-width: 500px) {
	#header-section h1 {
		font-size: 3.0rem;
	}
}

/* Chart controls */
.select-wrapper .dropdown-content li > span {
	color: #e6007e;
}

.select-wrapper input.select-dropdown:focus {
	border-bottom: #e6007e 1px solid;
}

input {
	text-overflow: ellipsis;
}

/* Charts */
.highcharts-credits {
	cursor: default !important;
}

.datalab-logo {
	cursor: pointer;
}

/* Small multiples */
.card.white.smallMultiple {
	height: 730px;
	width: 1320px;
}

.smallMultiple .card-content {
	display: inline;
	padding: unset;		/* remove the padding that normally applies, to bring the title closer to the top of the card */
}

.smallMultiple .chartContainer {
	float: left;
	width: 300px;
	margin: 0px;
	background-color: grey;
}

.smallMultiple .chartContainer.wider {
	width: 370px;
}

.smallMultiple #chartTitle {
	font-weight: 600;
	font-size: 20px;
	color: #333333;
	text-align: center;
	padding-top: 15px;
}

.smallMultiple #chartSubtitle {
	font-weight: 500;
	font-size: 16px;
	color: #333333;
	text-align: center;
	padding-bottom: 10px;
}

.smallMultiple #chartNotes {
	font-size: 11px;
	color: #999999;
	float: left;
	padding-left: 5px;
	padding-top: 13px;		/* making the notes the same height as the logo */
}

.smallMultiple #chartLogo {
	float: right;
	padding-right: 5px;
}


/* Related subjects card */
#related-subjects-section .card {
	background-color: #b1dbed;
}

#related-subjects-section h5 {
	text-align: left;
	margin-top: 0.656rem;
}

#related-subjects-section a {
    color: rgb(0,0,0,0.87);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #e6007e;
	font-weight: 500;
}


/* RSS feed */
.rss2html-note {
	display: none
}

.feed-item-desc {		/* mirroring h5 */
	font-weight: 400;
	line-height: 1.3;
	font-size: 1.64rem;
	line-height: 110%;
	margin: 1.0933333333rem 0 0.656rem 0;
}

/* addthis social sharing buttons */
.at-label {
	font-size: 11px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* header.php */
.nav-extended #level-dropdown a {
	line-height: 35px;
}

.no-script {
	background-color: #2daae1;
	text-align: center;
}

/* footer.php */
#report-banner .container .row {
	margin-bottom: 0px;
}

.page-footer .footer-copyright {
	background-color: #757575;
}

.footer-copyright .row {
	margin-bottom: 0px;
}

.footer-copyright .row img {
	margin-right: 4px;
}

.footer-copyright .row .push-l2 img {
	margin-left: 4px;
}

/* Guide page */
.back-to-top {
	font-size: 36px;
}
