.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.fft-pink {
	background-color: #e6007e !important;
}

.fft-blue {
	background-color: #2daae1 !important;
}

.fft-green {
	background-color: #96c11f !important;
}

.fft-pink-text {
	color: #e6007e !important;
}

.fft-blue-text {
	color: #2daae1 !important;
}

.fft-green-text {
	color: #96c11f !important;
}

nav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav .brand-logo,
nav ul a {
	color: #535353;
}

nav .brand-logo {
	font-size: inherit;
	line-height: 64px;
	font-size: 2.28rem;		/* mirroring h4 */
}

.dropdown-content li > a,
.dropdown-content li > span {
	color: #e6007e;
}

.select-wrapper input.select-dropdown:focus {
	border-bottom: #e6007e 1px solid;
}

#logo-container {
	display: flex;
}
.logo-datalab img {
	max-width: 100%;
	max-height: 100%;
}

.logo-nuffield img {
	max-width: 100%;
	max-height: 100%;
}

@media (min-width: 601px) {
	#logo-container {
		display: block;
	}

	.logo-datalab img {
		max-width: 250px;
		max-height: 64px;
	}

	.logo-nuffield img {
		max-width: 186px;
		max-height: 64px;

	}

	.logo-nuffield {
		float: right;
	}
}

#ebaccFlagImg,
#p8dblFlagImg,
#facilFlagImg {
	width: 60px;
	height: 60px;
}

#toast-container {
	bottom: 0%;
	top: auto;		/* unset does not work in IE */
	right: auto;		/* unset does not work in IE */
	min-width: 100%;
}

#toast-container .toast {
	cursor: pointer;
	background-color: #e6007e !important;
}

#toast-container .toast::after {
	font-family: 'Material Icons';
	content: "close";
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 300;
	float: right;
	padding-left: 3rem;
}

.btn-flat {
	text-transform: none;
}

#contextBox {
	background-color: #ea51a5
}

.collapsible-header {
	background-color: #f3f3f3 !important;
}

h6 {
	font-style: italic
}

a {
	color: #e6007e
}

#contextBox a {
	color: #ffffff;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

/* RSS feed */
.rss2html-note {
	display: none
}

.feed-item-desc {		/* mirroring h5 */
	font-weight: 400;
	line-height: 1.3;
	font-size: 1.64rem;
	line-height: 110%;
	margin: 1.0933333333rem 0 0.656rem 0;
}

/* addthis social sharing buttons */
.at-label {
	font-size: 11px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
